<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Lorem ipsum dolor sit amet, an pri modo doctus vituperata, ad posidonium reformidans vim.</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Join Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Eos id eruditi delicata suavitate, ei duo dicunt voluptaria</h2>
                <p>Eam in harum tincidunt. Has at summo ancillae, mel ei dico elit iusto. Dicit solet sed cu.</p>
                <a href="#" class="btn btn-outline btn-xl page-scroll">Join Now!</a>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Ex vis prompta pertinax honestatis.</h2>
                    <p class="text-muted">Ex vis prompta pertinax honestatis, omittantur consectetuer ne nec.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <!-- <img src="img/demo-screen-1.jpg" class="img-responsive" alt=""> -->
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>An usu aliquid recusabo</h3>
                                <p class="text-muted">Nam cu soleat convenire petentium, dolore albucius consequuntur at est.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-camera text-primary"></i>
                                <h3>Tale principes assue</h3>
                                <p class="text-muted">Denique laboramus vituperatoribus an sea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3>Qui vitae oporteat ne</h3>
                                <p class="text-muted">Regione atomorum imperdiet mei at.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>
                                <h3>Amet mucius nonumes</h3>
                                <p class="text-muted"> Nec at liber error eripuit. Sit ad aperiri assueverit. Cu falli molestiae pri.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Salutandi scriptorem vis ne</h2>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <!-- <section id="contact" class="contact bg-primary">
        <div class="container">
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="social-facebook">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="social-google-plus">
                    <a href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section> -->

    <footer>
        <div class="container">
            <p>Made with ♥︎ in Los Angeles</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>
