<header class="intro">
    <div class="header-content">
        <div class="inner">
            <h1 class="header-title">Fashion.bl</h1>
            <h2 class="header-subtitle">A sophisticated outfit recommendation system based on your current wardrobe.</h2>
            <a href="/users/sign_in" class="btn btn-outline btn-lg">Get Started</a>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-5 text-xs-right">
                <h2 class="section-heading">Smart outfit recommendations, personalized just for you</h2>
                <p class="section-body">
                    Fashion.bl provides a platform for all your style management essentials. There's everything you need in one place.
                    Digital closet to keep track of all your items.
                    Outfit planner to save-time coordinating intuitively based on color and current weather.
                    Style data visualization that provides a live analysis of your closet - from average spending, color palettes, top colors, and much more.
                    A social platform that allows you to share your closet with your friends, ask for recommendations, and much more!
                    <!-- The more you you do, the smarter it gets. Fashion.bl learns your style preferences and uses it to drive daily outfit suggestions and persoanlized recommendations. -->
                    We help you organize your closet, so you can spend your time focusing on more important tasks.
                </p>
            </div>
            <div class="offset-lg-1 col-lg-4 text-xs-left">
                <%= image_tag("mens_clothing.jpg", :alt => "Browser Mockup", :class => "img-fluid") %>
            </div>
        </div>
    </div>
</section>
