/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Titles - #18171f; Subtitles - #747378 */
 /* Navy: rgba(28, 36, 65, 0.93), Sky - #00d2ff*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #18171f;
    webkit-tap-highlight-color: #222;
    top: 0;
    background-color: #fafafa;
}

section {
    min-height: 600px;
    padding: 100px 0;
}

 header {
    position: relative;
    min-height: auto;
    text-align: center;
    width: 100%;
    color: #fff;
    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 240px 25px 150px 25px;
    text-align: center;
    z-index: 2;
}

.header-title {
    margin-bottom: 1rem;
}

.header-subtitle {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.navbar-default {
    background-color: #fff;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    min-height: 60px;
}

.navbar-brand {
    color: #18171f;
    padding: 9px;
    padding-left: 1px;
    line-height: 1.90em;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
    float: none;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: #18171f;

}

.navbar-default .nav > li>a {
    font-size: 14px;
    color: #747378;
    text-transform: uppercase;
    font-weight: 400;

    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

 .navbar-default .nav>li>a:focus,  .navbar-default .nav>li>a:hover {
     color: #18171f;
 }

.btn-outline {
    border-color: #fff;
    color: #fff;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    background-color: #fff;
    color: rgba(28, 36, 65, 0.93);
}

.btn:active:focus, .btn:focus {
    outline: none;
}

.bg-alt {
    color: #f7f7f9;
}

.section-heading {
    text-transform: uppercase;
    color: rgba(28, 36, 65, 0.93);
    font-size: 1.5rem;
}

.section-body {
    color: #747378;
}

.col-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fb-login {
    margin-top: 1em;
}

.btn-login {
    width: 100%;
    margin-bottom: 1em;
}

@media (min-width: 34em) {
    header {
        min-height: calc(100% - 60px);
    }
    header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }
}

@media (min-width: 48em) {
    .navbar-brand {
        float: left;
    }
    .navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
        padding-left: 5px;
        padding-top: 21px;
        letter-spacing: 1.1px;
    }
}
